// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
    background-color: #e9e9e9;
}


.post-tag {
    font-size: 12px;
    padding: 1px 6px;
    color: #ccc;
    border: 1px #ccc solid;
    cursor: default;
    margin-right: 10px;
}

.post-list > li {
    margin-bottom: 2px;
}
.post-list > li > h3 {
    margin-bottom: 2px;
}
.post-meta {
    color: #446;
    border-bottom: 1px #ccc solid;
}
